/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterisk wildcart selector to override default style added by the browser */
* {
    padding: 0;
    margin:0%;
    box-sizing: border-box;
}

/* General Body style */
body {
       min-height: 100vh;
       display: flex;
       flex-direction: column;
       font-family: "Open Sans", sans-serif;
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100;
}

header a {
          text-decoration: none;
          color: inherit;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
       font-size: 110;
       letter-spacing: 4px;
       list-style-type: none;
}

#menu > li {
            margin-bottom: 1em;
}

/* Navbar dropdown Menu */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
}
/* main */
main {
    background-color: lightblue;
/* Make main element take the surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* footer */
footer {
    background-color: orange;
}